<div class="edit_status_task display_none position_fixed top_0 left_0 width_100_vw height_100_vh z_index_1001">
  <div class="bg_close_edit_status_task position_absolute top_0 left_0 width_100_percent height_100_percent z_index_1"></div>
  <div class="edit_status_task_content position_absolute bg_primary box_shadow_options padding_y_10 border_radius_5 z_index_2" style="left: calc(100% + 10px);top: 0px">
    <div class="title padding_x_15">
      <span class="text_transform_uppercase opacity_0_5 font_size_12">Choose status</span>
    </div>
    <div class="margin_top_10 edit_status_task_wrapper">
    </div>
    <div class="edit_status_task_item create_new_sprint display_flex padding_x_15 bg_primary_hover-hover padding_y_10 align_items_center cursor_pointer no_select
      display_none">
      <div class="width_10 height_10 color" style="background: red"></div>
      <span class="name margin_left_10"></span>
    </div>
  </div>
</div>
