.max_height_0 {
  max-height: 0px;
}

.min_height_0 {
  min-height: 0px;
}

.max_height_10 {
  max-height: 10px;
}

.min_height_10 {
  min-height: 10px;
}

.max_height_20 {
  max-height: 20px;
}

.min_height_20 {
  min-height: 20px;
}

.max_height_30 {
  max-height: 30px;
}

.min_height_30 {
  min-height: 30px;
}

.max_height_40 {
  max-height: 40px;
}

.min_height_40 {
  min-height: 40px;
}

.max_height_50 {
  max-height: 50px;
}

.min_height_50 {
  min-height: 50px;
}

.max_height_100 {
  max-height: 100px;
}

.min_height_100 {
  min-height: 100px;
}

.max_height_150 {
  max-height: 150px;
}

.min_height_150 {
  min-height: 150px;
}

.max_height_195 {
  max-height: 195px;
}

.min_height_195 {
  min-height: 195px;
}

.max_height_200 {
  max-height: 200px;
}

.min_height_200 {
  min-height: 200px;
}

.max_height_220 {
  max-height: 220px;
}

.min_height_220 {
  min-height: 220px;
}

.max_height_400 {
  max-height: 400px;
}

.min_height_400 {
  min-height: 400px;
}

.max_height_475 {
  max-height: 475px;
}

.min_height_475 {
  min-height: 475px;
}

.max_height_700 {
  max-height: 700px;
}

.min_height_700 {
  min-height: 700px;
}

.max_height_720 {
  max-height: 720px;
}

.min_height_720 {
  min-height: 720px;
}

.max_height_0_percent {
  max-height: 0%;
}

.min_height_0_percent {
  min-height: 0%;
}

.max_height_0_vh {
  max-height: 0vh;
}

.min_height_0_vh {
  min-height: 0vh;
}

.max_height_10_percent {
  max-height: 10%;
}

.min_height_10_percent {
  min-height: 10%;
}

.max_height_10_vh {
  max-height: 10vh;
}

.min_height_10_vh {
  min-height: 10vh;
}

.max_height_20_percent {
  max-height: 20%;
}

.min_height_20_percent {
  min-height: 20%;
}

.max_height_20_vh {
  max-height: 20vh;
}

.min_height_20_vh {
  min-height: 20vh;
}

.max_height_21_percent {
  max-height: 21%;
}

.min_height_21_percent {
  min-height: 21%;
}

.max_height_21_vh {
  max-height: 21vh;
}

.min_height_21_vh {
  min-height: 21vh;
}

.max_height_22_percent {
  max-height: 22%;
}

.min_height_22_percent {
  min-height: 22%;
}

.max_height_22_vh {
  max-height: 22vh;
}

.min_height_22_vh {
  min-height: 22vh;
}

.max_height_23_percent {
  max-height: 23%;
}

.min_height_23_percent {
  min-height: 23%;
}

.max_height_23_vh {
  max-height: 23vh;
}

.min_height_23_vh {
  min-height: 23vh;
}

.max_height_24_percent {
  max-height: 24%;
}

.min_height_24_percent {
  min-height: 24%;
}

.max_height_24_vh {
  max-height: 24vh;
}

.min_height_24_vh {
  min-height: 24vh;
}

.max_height_25_percent {
  max-height: 25%;
}

.min_height_25_percent {
  min-height: 25%;
}

.max_height_25_vh {
  max-height: 25vh;
}

.min_height_25_vh {
  min-height: 25vh;
}

.max_height_30_percent {
  max-height: 30%;
}

.min_height_30_percent {
  min-height: 30%;
}

.max_height_30_vh {
  max-height: 30vh;
}

.min_height_30_vh {
  min-height: 30vh;
}

.max_height_40_percent {
  max-height: 40%;
}

.min_height_40_percent {
  min-height: 40%;
}

.max_height_40_vh {
  max-height: 40vh;
}

.min_height_40_vh {
  min-height: 40vh;
}

.max_height_50_percent {
  max-height: 50%;
}

.min_height_50_percent {
  min-height: 50%;
}

.max_height_50_vh {
  max-height: 50vh;
}

.min_height_50_vh {
  min-height: 50vh;
}

.max_height_60_percent {
  max-height: 60%;
}

.min_height_60_percent {
  min-height: 60%;
}

.max_height_60_vh {
  max-height: 60vh;
}

.min_height_60_vh {
  min-height: 60vh;
}

.max_height_70_percent {
  max-height: 70%;
}

.min_height_70_percent {
  min-height: 70%;
}

.max_height_70_vh {
  max-height: 70vh;
}

.min_height_70_vh {
  min-height: 70vh;
}

.max_height_80_percent {
  max-height: 80%;
}

.min_height_80_percent {
  min-height: 80%;
}

.max_height_80_vh {
  max-height: 80vh;
}

.min_height_80_vh {
  min-height: 80vh;
}

.max_height_90_percent {
  max-height: 90%;
}

.min_height_90_percent {
  min-height: 90%;
}

.max_height_90_vh {
  max-height: 90vh;
}

.min_height_90_vh {
  min-height: 90vh;
}

.max_height_100_percent {
  max-height: 100%;
}

.min_height_100_percent {
  min-height: 100%;
}

.max_height_100_vh {
  max-height: 100vh;
}

.min_height_100_vh {
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .max_height_md_0 {
    max-height: 0px;
  }

  .min_height_md_0 {
    min-height: 0px;
  }

  .max_height_md_10 {
    max-height: 10px;
  }

  .min_height_md_10 {
    min-height: 10px;
  }

  .max_height_md_20 {
    max-height: 20px;
  }

  .min_height_md_20 {
    min-height: 20px;
  }

  .max_height_md_30 {
    max-height: 30px;
  }

  .min_height_md_30 {
    min-height: 30px;
  }

  .max_height_md_40 {
    max-height: 40px;
  }

  .min_height_md_40 {
    min-height: 40px;
  }

  .max_height_md_50 {
    max-height: 50px;
  }

  .min_height_md_50 {
    min-height: 50px;
  }

  .max_height_md_100 {
    max-height: 100px;
  }

  .min_height_md_100 {
    min-height: 100px;
  }

  .max_height_md_150 {
    max-height: 150px;
  }

  .min_height_md_150 {
    min-height: 150px;
  }

  .max_height_md_195 {
    max-height: 195px;
  }

  .min_height_md_195 {
    min-height: 195px;
  }

  .max_height_md_200 {
    max-height: 200px;
  }

  .min_height_md_200 {
    min-height: 200px;
  }

  .max_height_md_220 {
    max-height: 220px;
  }

  .min_height_md_220 {
    min-height: 220px;
  }

  .max_height_md_400 {
    max-height: 400px;
  }

  .min_height_md_400 {
    min-height: 400px;
  }

  .max_height_md_475 {
    max-height: 475px;
  }

  .min_height_md_475 {
    min-height: 475px;
  }

  .max_height_md_700 {
    max-height: 700px;
  }

  .min_height_md_700 {
    min-height: 700px;
  }

  .max_height_md_720 {
    max-height: 720px;
  }

  .min_height_md_720 {
    min-height: 720px;
  }

  .max_height_md_0_percent {
    max-height: 0%;
  }

  .min_height_md_0_percent {
    min-height: 0%;
  }

  .max_height_md_0_vh {
    max-height: 0vh;
  }

  .min_height_md_0_vh {
    min-height: 0vh;
  }

  .max_height_md_10_percent {
    max-height: 10%;
  }

  .min_height_md_10_percent {
    min-height: 10%;
  }

  .max_height_md_10_vh {
    max-height: 10vh;
  }

  .min_height_md_10_vh {
    min-height: 10vh;
  }

  .max_height_md_20_percent {
    max-height: 20%;
  }

  .min_height_md_20_percent {
    min-height: 20%;
  }

  .max_height_md_20_vh {
    max-height: 20vh;
  }

  .min_height_md_20_vh {
    min-height: 20vh;
  }

  .max_height_md_21_percent {
    max-height: 21%;
  }

  .min_height_md_21_percent {
    min-height: 21%;
  }

  .max_height_md_21_vh {
    max-height: 21vh;
  }

  .min_height_md_21_vh {
    min-height: 21vh;
  }

  .max_height_md_22_percent {
    max-height: 22%;
  }

  .min_height_md_22_percent {
    min-height: 22%;
  }

  .max_height_md_22_vh {
    max-height: 22vh;
  }

  .min_height_md_22_vh {
    min-height: 22vh;
  }

  .max_height_md_23_percent {
    max-height: 23%;
  }

  .min_height_md_23_percent {
    min-height: 23%;
  }

  .max_height_md_23_vh {
    max-height: 23vh;
  }

  .min_height_md_23_vh {
    min-height: 23vh;
  }

  .max_height_md_24_percent {
    max-height: 24%;
  }

  .min_height_md_24_percent {
    min-height: 24%;
  }

  .max_height_md_24_vh {
    max-height: 24vh;
  }

  .min_height_md_24_vh {
    min-height: 24vh;
  }

  .max_height_md_25_percent {
    max-height: 25%;
  }

  .min_height_md_25_percent {
    min-height: 25%;
  }

  .max_height_md_25_vh {
    max-height: 25vh;
  }

  .min_height_md_25_vh {
    min-height: 25vh;
  }

  .max_height_md_30_percent {
    max-height: 30%;
  }

  .min_height_md_30_percent {
    min-height: 30%;
  }

  .max_height_md_30_vh {
    max-height: 30vh;
  }

  .min_height_md_30_vh {
    min-height: 30vh;
  }

  .max_height_md_40_percent {
    max-height: 40%;
  }

  .min_height_md_40_percent {
    min-height: 40%;
  }

  .max_height_md_40_vh {
    max-height: 40vh;
  }

  .min_height_md_40_vh {
    min-height: 40vh;
  }

  .max_height_md_50_percent {
    max-height: 50%;
  }

  .min_height_md_50_percent {
    min-height: 50%;
  }

  .max_height_md_50_vh {
    max-height: 50vh;
  }

  .min_height_md_50_vh {
    min-height: 50vh;
  }

  .max_height_md_60_percent {
    max-height: 60%;
  }

  .min_height_md_60_percent {
    min-height: 60%;
  }

  .max_height_md_60_vh {
    max-height: 60vh;
  }

  .min_height_md_60_vh {
    min-height: 60vh;
  }

  .max_height_md_70_percent {
    max-height: 70%;
  }

  .min_height_md_70_percent {
    min-height: 70%;
  }

  .max_height_md_70_vh {
    max-height: 70vh;
  }

  .min_height_md_70_vh {
    min-height: 70vh;
  }

  .max_height_md_80_percent {
    max-height: 80%;
  }

  .min_height_md_80_percent {
    min-height: 80%;
  }

  .max_height_md_80_vh {
    max-height: 80vh;
  }

  .min_height_md_80_vh {
    min-height: 80vh;
  }

  .max_height_md_90_percent {
    max-height: 90%;
  }

  .min_height_md_90_percent {
    min-height: 90%;
  }

  .max_height_md_90_vh {
    max-height: 90vh;
  }

  .min_height_md_90_vh {
    min-height: 90vh;
  }

  .max_height_md_100_percent {
    max-height: 100%;
  }

  .min_height_md_100_percent {
    min-height: 100%;
  }

  .max_height_md_100_vh {
    max-height: 100vh;
  }

  .min_height_md_100_vh {
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  .max_height_sm_0 {
    max-height: 0px;
  }

  .min_height_sm_0 {
    min-height: 0px;
  }

  .max_height_sm_10 {
    max-height: 10px;
  }

  .min_height_sm_10 {
    min-height: 10px;
  }

  .max_height_sm_20 {
    max-height: 20px;
  }

  .min_height_sm_20 {
    min-height: 20px;
  }

  .max_height_sm_30 {
    max-height: 30px;
  }

  .min_height_sm_30 {
    min-height: 30px;
  }

  .max_height_sm_40 {
    max-height: 40px;
  }

  .min_height_sm_40 {
    min-height: 40px;
  }

  .max_height_sm_50 {
    max-height: 50px;
  }

  .min_height_sm_50 {
    min-height: 50px;
  }

  .max_height_sm_100 {
    max-height: 100px;
  }

  .min_height_sm_100 {
    min-height: 100px;
  }

  .max_height_sm_150 {
    max-height: 150px;
  }

  .min_height_sm_150 {
    min-height: 150px;
  }

  .max_height_sm_195 {
    max-height: 195px;
  }

  .min_height_sm_195 {
    min-height: 195px;
  }

  .max_height_sm_200 {
    max-height: 200px;
  }

  .min_height_sm_200 {
    min-height: 200px;
  }

  .max_height_sm_220 {
    max-height: 220px;
  }

  .min_height_sm_220 {
    min-height: 220px;
  }

  .max_height_sm_400 {
    max-height: 400px;
  }

  .min_height_sm_400 {
    min-height: 400px;
  }

  .max_height_sm_475 {
    max-height: 475px;
  }

  .min_height_sm_475 {
    min-height: 475px;
  }

  .max_height_sm_700 {
    max-height: 700px;
  }

  .min_height_sm_700 {
    min-height: 700px;
  }

  .max_height_sm_720 {
    max-height: 720px;
  }

  .min_height_sm_720 {
    min-height: 720px;
  }

  .max_height_sm_0_percent {
    max-height: 0%;
  }

  .min_height_sm_0_percent {
    min-height: 0%;
  }

  .max_height_sm_0_vh {
    max-height: 0vh;
  }

  .min_height_sm_0_vh {
    min-height: 0vh;
  }

  .max_height_sm_10_percent {
    max-height: 10%;
  }

  .min_height_sm_10_percent {
    min-height: 10%;
  }

  .max_height_sm_10_vh {
    max-height: 10vh;
  }

  .min_height_sm_10_vh {
    min-height: 10vh;
  }

  .max_height_sm_20_percent {
    max-height: 20%;
  }

  .min_height_sm_20_percent {
    min-height: 20%;
  }

  .max_height_sm_20_vh {
    max-height: 20vh;
  }

  .min_height_sm_20_vh {
    min-height: 20vh;
  }

  .max_height_sm_21_percent {
    max-height: 21%;
  }

  .min_height_sm_21_percent {
    min-height: 21%;
  }

  .max_height_sm_21_vh {
    max-height: 21vh;
  }

  .min_height_sm_21_vh {
    min-height: 21vh;
  }

  .max_height_sm_22_percent {
    max-height: 22%;
  }

  .min_height_sm_22_percent {
    min-height: 22%;
  }

  .max_height_sm_22_vh {
    max-height: 22vh;
  }

  .min_height_sm_22_vh {
    min-height: 22vh;
  }

  .max_height_sm_23_percent {
    max-height: 23%;
  }

  .min_height_sm_23_percent {
    min-height: 23%;
  }

  .max_height_sm_23_vh {
    max-height: 23vh;
  }

  .min_height_sm_23_vh {
    min-height: 23vh;
  }

  .max_height_sm_24_percent {
    max-height: 24%;
  }

  .min_height_sm_24_percent {
    min-height: 24%;
  }

  .max_height_sm_24_vh {
    max-height: 24vh;
  }

  .min_height_sm_24_vh {
    min-height: 24vh;
  }

  .max_height_sm_25_percent {
    max-height: 25%;
  }

  .min_height_sm_25_percent {
    min-height: 25%;
  }

  .max_height_sm_25_vh {
    max-height: 25vh;
  }

  .min_height_sm_25_vh {
    min-height: 25vh;
  }

  .max_height_sm_30_percent {
    max-height: 30%;
  }

  .min_height_sm_30_percent {
    min-height: 30%;
  }

  .max_height_sm_30_vh {
    max-height: 30vh;
  }

  .min_height_sm_30_vh {
    min-height: 30vh;
  }

  .max_height_sm_40_percent {
    max-height: 40%;
  }

  .min_height_sm_40_percent {
    min-height: 40%;
  }

  .max_height_sm_40_vh {
    max-height: 40vh;
  }

  .min_height_sm_40_vh {
    min-height: 40vh;
  }

  .max_height_sm_50_percent {
    max-height: 50%;
  }

  .min_height_sm_50_percent {
    min-height: 50%;
  }

  .max_height_sm_50_vh {
    max-height: 50vh;
  }

  .min_height_sm_50_vh {
    min-height: 50vh;
  }

  .max_height_sm_60_percent {
    max-height: 60%;
  }

  .min_height_sm_60_percent {
    min-height: 60%;
  }

  .max_height_sm_60_vh {
    max-height: 60vh;
  }

  .min_height_sm_60_vh {
    min-height: 60vh;
  }

  .max_height_sm_70_percent {
    max-height: 70%;
  }

  .min_height_sm_70_percent {
    min-height: 70%;
  }

  .max_height_sm_70_vh {
    max-height: 70vh;
  }

  .min_height_sm_70_vh {
    min-height: 70vh;
  }

  .max_height_sm_80_percent {
    max-height: 80%;
  }

  .min_height_sm_80_percent {
    min-height: 80%;
  }

  .max_height_sm_80_vh {
    max-height: 80vh;
  }

  .min_height_sm_80_vh {
    min-height: 80vh;
  }

  .max_height_sm_90_percent {
    max-height: 90%;
  }

  .min_height_sm_90_percent {
    min-height: 90%;
  }

  .max_height_sm_90_vh {
    max-height: 90vh;
  }

  .min_height_sm_90_vh {
    min-height: 90vh;
  }

  .max_height_sm_100_percent {
    max-height: 100%;
  }

  .min_height_sm_100_percent {
    min-height: 100%;
  }

  .max_height_sm_100_vh {
    max-height: 100vh;
  }

  .min_height_sm_100_vh {
    min-height: 100vh;
  }
}

@media (max-width: 576px) {
  .max_height_xs_0 {
    max-height: 0px;
  }

  .min_height_xs_0 {
    min-height: 0px;
  }

  .max_height_xs_10 {
    max-height: 10px;
  }

  .min_height_xs_10 {
    min-height: 10px;
  }

  .max_height_xs_20 {
    max-height: 20px;
  }

  .min_height_xs_20 {
    min-height: 20px;
  }

  .max_height_xs_30 {
    max-height: 30px;
  }

  .min_height_xs_30 {
    min-height: 30px;
  }

  .max_height_xs_40 {
    max-height: 40px;
  }

  .min_height_xs_40 {
    min-height: 40px;
  }

  .max_height_xs_50 {
    max-height: 50px;
  }

  .min_height_xs_50 {
    min-height: 50px;
  }

  .max_height_xs_100 {
    max-height: 100px;
  }

  .min_height_xs_100 {
    min-height: 100px;
  }

  .max_height_xs_150 {
    max-height: 150px;
  }

  .min_height_xs_150 {
    min-height: 150px;
  }

  .max_height_xs_195 {
    max-height: 195px;
  }

  .min_height_xs_195 {
    min-height: 195px;
  }

  .max_height_xs_200 {
    max-height: 200px;
  }

  .min_height_xs_200 {
    min-height: 200px;
  }

  .max_height_xs_220 {
    max-height: 220px;
  }

  .min_height_xs_220 {
    min-height: 220px;
  }

  .max_height_xs_400 {
    max-height: 400px;
  }

  .min_height_xs_400 {
    min-height: 400px;
  }

  .max_height_xs_475 {
    max-height: 475px;
  }

  .min_height_xs_475 {
    min-height: 475px;
  }

  .max_height_xs_700 {
    max-height: 700px;
  }

  .min_height_xs_700 {
    min-height: 700px;
  }

  .max_height_xs_720 {
    max-height: 720px;
  }

  .min_height_xs_720 {
    min-height: 720px;
  }

  .max_height_xs_0_percent {
    max-height: 0%;
  }

  .min_height_xs_0_percent {
    min-height: 0%;
  }

  .max_height_xs_0_vh {
    max-height: 0vh;
  }

  .min_height_xs_0_vh {
    min-height: 0vh;
  }

  .max_height_xs_10_percent {
    max-height: 10%;
  }

  .min_height_xs_10_percent {
    min-height: 10%;
  }

  .max_height_xs_10_vh {
    max-height: 10vh;
  }

  .min_height_xs_10_vh {
    min-height: 10vh;
  }

  .max_height_xs_20_percent {
    max-height: 20%;
  }

  .min_height_xs_20_percent {
    min-height: 20%;
  }

  .max_height_xs_20_vh {
    max-height: 20vh;
  }

  .min_height_xs_20_vh {
    min-height: 20vh;
  }

  .max_height_xs_21_percent {
    max-height: 21%;
  }

  .min_height_xs_21_percent {
    min-height: 21%;
  }

  .max_height_xs_21_vh {
    max-height: 21vh;
  }

  .min_height_xs_21_vh {
    min-height: 21vh;
  }

  .max_height_xs_22_percent {
    max-height: 22%;
  }

  .min_height_xs_22_percent {
    min-height: 22%;
  }

  .max_height_xs_22_vh {
    max-height: 22vh;
  }

  .min_height_xs_22_vh {
    min-height: 22vh;
  }

  .max_height_xs_23_percent {
    max-height: 23%;
  }

  .min_height_xs_23_percent {
    min-height: 23%;
  }

  .max_height_xs_23_vh {
    max-height: 23vh;
  }

  .min_height_xs_23_vh {
    min-height: 23vh;
  }

  .max_height_xs_24_percent {
    max-height: 24%;
  }

  .min_height_xs_24_percent {
    min-height: 24%;
  }

  .max_height_xs_24_vh {
    max-height: 24vh;
  }

  .min_height_xs_24_vh {
    min-height: 24vh;
  }

  .max_height_xs_25_percent {
    max-height: 25%;
  }

  .min_height_xs_25_percent {
    min-height: 25%;
  }

  .max_height_xs_25_vh {
    max-height: 25vh;
  }

  .min_height_xs_25_vh {
    min-height: 25vh;
  }

  .max_height_xs_30_percent {
    max-height: 30%;
  }

  .min_height_xs_30_percent {
    min-height: 30%;
  }

  .max_height_xs_30_vh {
    max-height: 30vh;
  }

  .min_height_xs_30_vh {
    min-height: 30vh;
  }

  .max_height_xs_40_percent {
    max-height: 40%;
  }

  .min_height_xs_40_percent {
    min-height: 40%;
  }

  .max_height_xs_40_vh {
    max-height: 40vh;
  }

  .min_height_xs_40_vh {
    min-height: 40vh;
  }

  .max_height_xs_50_percent {
    max-height: 50%;
  }

  .min_height_xs_50_percent {
    min-height: 50%;
  }

  .max_height_xs_50_vh {
    max-height: 50vh;
  }

  .min_height_xs_50_vh {
    min-height: 50vh;
  }

  .max_height_xs_60_percent {
    max-height: 60%;
  }

  .min_height_xs_60_percent {
    min-height: 60%;
  }

  .max_height_xs_60_vh {
    max-height: 60vh;
  }

  .min_height_xs_60_vh {
    min-height: 60vh;
  }

  .max_height_xs_70_percent {
    max-height: 70%;
  }

  .min_height_xs_70_percent {
    min-height: 70%;
  }

  .max_height_xs_70_vh {
    max-height: 70vh;
  }

  .min_height_xs_70_vh {
    min-height: 70vh;
  }

  .max_height_xs_80_percent {
    max-height: 80%;
  }

  .min_height_xs_80_percent {
    min-height: 80%;
  }

  .max_height_xs_80_vh {
    max-height: 80vh;
  }

  .min_height_xs_80_vh {
    min-height: 80vh;
  }

  .max_height_xs_90_percent {
    max-height: 90%;
  }

  .min_height_xs_90_percent {
    min-height: 90%;
  }

  .max_height_xs_90_vh {
    max-height: 90vh;
  }

  .min_height_xs_90_vh {
    min-height: 90vh;
  }

  .max_height_xs_100_percent {
    max-height: 100%;
  }

  .min_height_xs_100_percent {
    min-height: 100%;
  }

  .max_height_xs_100_vh {
    max-height: 100vh;
  }

  .min_height_xs_100_vh {
    min-height: 100vh;
  }
}

.max_width_10 {
  max-width: 10px;
}

.min_width_10 {
  min-width: 10px;
}

.max_width_20 {
  max-width: 20px;
}

.min_width_20 {
  min-width: 20px;
}

.max_width_30 {
  max-width: 30px;
}

.min_width_30 {
  min-width: 30px;
}

.max_width_40 {
  max-width: 40px;
}

.min_width_40 {
  min-width: 40px;
}

.max_width_50 {
  max-width: 50px;
}

.min_width_50 {
  min-width: 50px;
}

.max_width_100 {
  max-width: 100px;
}

.min_width_100 {
  min-width: 100px;
}

.max_width_320 {
  max-width: 320px;
}

.min_width_320 {
  min-width: 320px;
}

.max_width_400 {
  max-width: 400px;
}

.min_width_400 {
  min-width: 400px;
}

.max_width_450 {
  max-width: 450px;
}

.min_width_450 {
  min-width: 450px;
}

.max_width_500 {
  max-width: 500px;
}

.min_width_500 {
  min-width: 500px;
}

.max_width_650 {
  max-width: 650px;
}

.min_width_650 {
  min-width: 650px;
}

.max_width_800 {
  max-width: 800px;
}

.min_width_800 {
  min-width: 800px;
}

.max_width_900 {
  max-width: 900px;
}

.min_width_900 {
  min-width: 900px;
}

.max_width_10_percent {
  max-width: 10%;
}

.min_width_10_percent {
  min-width: 10%;
}

.max_width_20_percent {
  max-width: 20%;
}

.min_width_20_percent {
  min-width: 20%;
}

.max_width_30_percent {
  max-width: 30%;
}

.min_width_30_percent {
  min-width: 30%;
}

.max_width_40_percent {
  max-width: 40%;
}

.min_width_40_percent {
  min-width: 40%;
}

.max_width_50_percent {
  max-width: 50%;
}

.min_width_50_percent {
  min-width: 50%;
}

.max_width_60_percent {
  max-width: 60%;
}

.min_width_60_percent {
  min-width: 60%;
}

.max_width_70_percent {
  max-width: 70%;
}

.min_width_70_percent {
  min-width: 70%;
}

.max_width_80_percent {
  max-width: 80%;
}

.min_width_80_percent {
  min-width: 80%;
}

.max_width_90_percent {
  max-width: 90%;
}

.min_width_90_percent {
  min-width: 90%;
}

.max_width_100_percent {
  max-width: 100%;
}

.min_width_100_percent {
  min-width: 100%;
}

@media (max-width: 1024px) {
  .max_width_md_10 {
    max-width: 10px;
  }

  .min_width_md_10 {
    min-width: 10px;
  }

  .max_width_md_20 {
    max-width: 20px;
  }

  .min_width_md_20 {
    min-width: 20px;
  }

  .max_width_md_30 {
    max-width: 30px;
  }

  .min_width_md_30 {
    min-width: 30px;
  }

  .max_width_md_40 {
    max-width: 40px;
  }

  .min_width_md_40 {
    min-width: 40px;
  }

  .max_width_md_50 {
    max-width: 50px;
  }

  .min_width_md_50 {
    min-width: 50px;
  }

  .max_width_md_100 {
    max-width: 100px;
  }

  .min_width_md_100 {
    min-width: 100px;
  }

  .max_width_md_320 {
    max-width: 320px;
  }

  .min_width_md_320 {
    min-width: 320px;
  }

  .max_width_md_400 {
    max-width: 400px;
  }

  .min_width_md_400 {
    min-width: 400px;
  }

  .max_width_md_450 {
    max-width: 450px;
  }

  .min_width_md_450 {
    min-width: 450px;
  }

  .max_width_md_500 {
    max-width: 500px;
  }

  .min_width_md_500 {
    min-width: 500px;
  }

  .max_width_md_650 {
    max-width: 650px;
  }

  .min_width_md_650 {
    min-width: 650px;
  }

  .max_width_md_800 {
    max-width: 800px;
  }

  .min_width_md_800 {
    min-width: 800px;
  }

  .max_width_md_900 {
    max-width: 900px;
  }

  .min_width_md_900 {
    min-width: 900px;
  }

  .max_width_md_10_percent {
    max-width: 10%;
  }

  .min_width_md_10_percent {
    min-width: 10%;
  }

  .max_width_md_20_percent {
    max-width: 20%;
  }

  .min_width_md_20_percent {
    min-width: 20%;
  }

  .max_width_md_30_percent {
    max-width: 30%;
  }

  .min_width_md_30_percent {
    min-width: 30%;
  }

  .max_width_md_40_percent {
    max-width: 40%;
  }

  .min_width_md_40_percent {
    min-width: 40%;
  }

  .max_width_md_50_percent {
    max-width: 50%;
  }

  .min_width_md_50_percent {
    min-width: 50%;
  }

  .max_width_md_60_percent {
    max-width: 60%;
  }

  .min_width_md_60_percent {
    min-width: 60%;
  }

  .max_width_md_70_percent {
    max-width: 70%;
  }

  .min_width_md_70_percent {
    min-width: 70%;
  }

  .max_width_md_80_percent {
    max-width: 80%;
  }

  .min_width_md_80_percent {
    min-width: 80%;
  }

  .max_width_md_90_percent {
    max-width: 90%;
  }

  .min_width_md_90_percent {
    min-width: 90%;
  }

  .max_width_md_100_percent {
    max-width: 100%;
  }

  .min_width_md_100_percent {
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .max_width_sm_10 {
    max-width: 10px;
  }

  .min_width_sm_10 {
    min-width: 10px;
  }

  .max_width_sm_20 {
    max-width: 20px;
  }

  .min_width_sm_20 {
    min-width: 20px;
  }

  .max_width_sm_30 {
    max-width: 30px;
  }

  .min_width_sm_30 {
    min-width: 30px;
  }

  .max_width_sm_40 {
    max-width: 40px;
  }

  .min_width_sm_40 {
    min-width: 40px;
  }

  .max_width_sm_50 {
    max-width: 50px;
  }

  .min_width_sm_50 {
    min-width: 50px;
  }

  .max_width_sm_100 {
    max-width: 100px;
  }

  .min_width_sm_100 {
    min-width: 100px;
  }

  .max_width_sm_320 {
    max-width: 320px;
  }

  .min_width_sm_320 {
    min-width: 320px;
  }

  .max_width_sm_400 {
    max-width: 400px;
  }

  .min_width_sm_400 {
    min-width: 400px;
  }

  .max_width_sm_450 {
    max-width: 450px;
  }

  .min_width_sm_450 {
    min-width: 450px;
  }

  .max_width_sm_500 {
    max-width: 500px;
  }

  .min_width_sm_500 {
    min-width: 500px;
  }

  .max_width_sm_650 {
    max-width: 650px;
  }

  .min_width_sm_650 {
    min-width: 650px;
  }

  .max_width_sm_800 {
    max-width: 800px;
  }

  .min_width_sm_800 {
    min-width: 800px;
  }

  .max_width_sm_900 {
    max-width: 900px;
  }

  .min_width_sm_900 {
    min-width: 900px;
  }

  .max_width_sm_10_percent {
    max-width: 10%;
  }

  .min_width_sm_10_percent {
    min-width: 10%;
  }

  .max_width_sm_20_percent {
    max-width: 20%;
  }

  .min_width_sm_20_percent {
    min-width: 20%;
  }

  .max_width_sm_30_percent {
    max-width: 30%;
  }

  .min_width_sm_30_percent {
    min-width: 30%;
  }

  .max_width_sm_40_percent {
    max-width: 40%;
  }

  .min_width_sm_40_percent {
    min-width: 40%;
  }

  .max_width_sm_50_percent {
    max-width: 50%;
  }

  .min_width_sm_50_percent {
    min-width: 50%;
  }

  .max_width_sm_60_percent {
    max-width: 60%;
  }

  .min_width_sm_60_percent {
    min-width: 60%;
  }

  .max_width_sm_70_percent {
    max-width: 70%;
  }

  .min_width_sm_70_percent {
    min-width: 70%;
  }

  .max_width_sm_80_percent {
    max-width: 80%;
  }

  .min_width_sm_80_percent {
    min-width: 80%;
  }

  .max_width_sm_90_percent {
    max-width: 90%;
  }

  .min_width_sm_90_percent {
    min-width: 90%;
  }

  .max_width_sm_100_percent {
    max-width: 100%;
  }

  .min_width_sm_100_percent {
    min-width: 100%;
  }
}

@media (max-width: 576px) {
  .max_width_xs_10 {
    max-width: 10px;
  }

  .min_width_xs_10 {
    min-width: 10px;
  }

  .max_width_xs_20 {
    max-width: 20px;
  }

  .min_width_xs_20 {
    min-width: 20px;
  }

  .max_width_xs_30 {
    max-width: 30px;
  }

  .min_width_xs_30 {
    min-width: 30px;
  }

  .max_width_xs_40 {
    max-width: 40px;
  }

  .min_width_xs_40 {
    min-width: 40px;
  }

  .max_width_xs_50 {
    max-width: 50px;
  }

  .min_width_xs_50 {
    min-width: 50px;
  }

  .max_width_xs_100 {
    max-width: 100px;
  }

  .min_width_xs_100 {
    min-width: 100px;
  }

  .max_width_xs_320 {
    max-width: 320px;
  }

  .min_width_xs_320 {
    min-width: 320px;
  }

  .max_width_xs_400 {
    max-width: 400px;
  }

  .min_width_xs_400 {
    min-width: 400px;
  }

  .max_width_xs_450 {
    max-width: 450px;
  }

  .min_width_xs_450 {
    min-width: 450px;
  }

  .max_width_xs_500 {
    max-width: 500px;
  }

  .min_width_xs_500 {
    min-width: 500px;
  }

  .max_width_xs_650 {
    max-width: 650px;
  }

  .min_width_xs_650 {
    min-width: 650px;
  }

  .max_width_xs_800 {
    max-width: 800px;
  }

  .min_width_xs_800 {
    min-width: 800px;
  }

  .max_width_xs_900 {
    max-width: 900px;
  }

  .min_width_xs_900 {
    min-width: 900px;
  }

  .max_width_xs_10_percent {
    max-width: 10%;
  }

  .min_width_xs_10_percent {
    min-width: 10%;
  }

  .max_width_xs_20_percent {
    max-width: 20%;
  }

  .min_width_xs_20_percent {
    min-width: 20%;
  }

  .max_width_xs_30_percent {
    max-width: 30%;
  }

  .min_width_xs_30_percent {
    min-width: 30%;
  }

  .max_width_xs_40_percent {
    max-width: 40%;
  }

  .min_width_xs_40_percent {
    min-width: 40%;
  }

  .max_width_xs_50_percent {
    max-width: 50%;
  }

  .min_width_xs_50_percent {
    min-width: 50%;
  }

  .max_width_xs_60_percent {
    max-width: 60%;
  }

  .min_width_xs_60_percent {
    min-width: 60%;
  }

  .max_width_xs_70_percent {
    max-width: 70%;
  }

  .min_width_xs_70_percent {
    min-width: 70%;
  }

  .max_width_xs_80_percent {
    max-width: 80%;
  }

  .min_width_xs_80_percent {
    min-width: 80%;
  }

  .max_width_xs_90_percent {
    max-width: 90%;
  }

  .min_width_xs_90_percent {
    min-width: 90%;
  }

  .max_width_xs_100_percent {
    max-width: 100%;
  }

  .min_width_xs_100_percent {
    min-width: 100%;
  }
}
