<div class="side_bar width_250 min_height_100_vh bg_primary padding_y_40 padding_x_40">
  <a href="/">
    <button
      class="bg_highlight padding_x_15 padding_y_5 border_none border_radius_25 text_transform_uppercase font_size_18 font_weight_600"
    >
      <i class="fas fa-chevron-left"> </i>
      Back
    </button>
  </a>

  <div class="side_bar_contents">
    <div class="setting_title margin_y_20 font_size_22 font_weight_600">Settings</div>

    <div class="work_space_settings display_flex flex_direction_col margin_y_20">
      <div class="text_transform_uppercase highlight_theme_color margin_y_20 font_weight_600">
        Web Programming
      </div>
      <div class="primary_text_hover_color margin_y_10">Settings</div>
      <div class="primary_text_hover_color margin_y_10">People</div>
      <div class="primary_text_hover_color margin_y_10">Import/Export</div>
      <div class="primary_text_hover_color margin_y_10">Trash</div>
    </div>

    <div
      class="user_settings display_flex flex_direction_col border_top_width_1 border_top_style_solid border_color_secondary margin_y_20"
    >
      <div class="text_transform_uppercase highlight_theme_color margin_y_20 font_weight_600">Nguyen Phuc Co</div>
      <div class="primary_text_hover_color margin_y_10">My Settings</div>
      <div class="primary_text_hover_color margin_y_10">Workspaces</div>
      <div class="primary_text_hover_color margin_y_10">Notifications</div>
      <div class="primary_text_hover_color margin_y_10">Rewards</div>
      <a href="/login">
        <div class="primary_text_hover_color margin_y_10">Log out</div>
      </a>
    </div>

    <div
      class="app_settings display_flex flex_direction_col border_top_width_1 border_top_style_solid border_color_secondary margin_y_20"
    >
      <div class="text_transform_uppercase highlight_theme_color margin_y_20 font_weight_600">My Apps</div>
      <div class="primary_text_hover_color margin_y_10">Cloud Storage</div>
      <div class="primary_text_hover_color margin_y_10">Time Tracking</div>
      <div class="primary_text_hover_color margin_y_10">Slack Notifications</div>
      <div class="primary_text_hover_color margin_y_10">Apps</div>
      <div class="primary_text_hover_color margin_y_10">Calendar</div>
      <div class="primary_text_hover_color margin_y_10">Zoom</div>
    </div>
  </div>
</div>