<div class="edit_estimate_task display_none position_fixed top_0 left_0 width_100_vw height_100_vh z_index_1001">
  <div class="bg_close_edit_estimate_task position_absolute top_0 left_0 width_100_percent height_100_percent z_index_1"></div>
  <div class="edit_estimate_task_content position_absolute bg_primary box_shadow_options padding_y_10 border_radius_5 z_index_2" style="left: calc(100% + 10px);top: 0px">
    <div class="title padding_x_15">
      <span class="text_transform_uppercase opacity_0_5 font_size_12">Estimate Time<a/span>
    </div>
    <div class="margin_top_10 edit_estimate_task_wrapper display_flex align_items_center padding_x_15">
      <input class="padding_y_5 edit_estimate_task_input width_50" min="0" default-value="0" style="border: none" type="number"/>
      <span class="margin_left_10">hour(s)</span>
    </div>
    <div class="margin_top_10 padding_x_15">
      <button class="save_estimate_btn padding_x_25 padding_y_10 display_flex align_items_center justify_content_center border_none bg_highlight color_whte border_radius_3
          text_transform_uppercase font_weight_600">
          Save
      </button>
    </div>
  </div>
</div>
