<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
    <link rel="stylesheet" href="<%=baseUrl%>/public/styles/atomics-css/atomics-style.css" />
  </head>
  <body>
    <div class="min_height_100_vh display_flex align_items_center justify_content_center bg_primary">
      <div class="color_white text_align_center">
        <p class="font_size_40 text_align_center">404</p>
        <p class="font_weight_600 text_align_center font_size_32">Ooops!</p>
        <p class="text_transform_uppercase text_align_center font_size_20">this page doesn't exist or is unavailable</p>
        <a href="/">
          <button
            class="font_size_14 padding_x_20 padding_y_10 color_white border_none border_radius_5 bg_highlight margin_top_30"
          >
            Back to home
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
