<div class="display_none add_task <%=className%> height_40 width_100_percent padding_left_32" data-type="<%=type%>">
  <form class="padding_y_5 padding_x_15 display_flex align_items_center justify_content_sb border_width_1 border_style_solid border_color_red">
    <div class="display_flex align_items_center flex_1">
      <div class="add_task_status width_10 height_10 border_radius_3 margin_right_20 flex_none cursor_pointer" style="background-color: rgb(211, 211, 211)"></div>
      <input
        class="add_task_name border_none bg_whitesmoke width_100_percent"
        style="border: none !important"
        placeholder="Enter task name..."
        required
      />
    </div>
    <div class="display_flex align_items_center">
      <div class="display_flex justify_content_center margin_x_10">
        <div class="add_task_user cursor_pointer border_radius_50_percent width_30 height_30 display_flex align_items_center justify_content_center
          border_width_1 border_style_dashed border_color_white position_relative z_index_1">
          <i class="icon_add_assigner far fa-user-plus"></i>
          <div 
             class="assigner height_100_percent width_100_percent border_radius_50_percent display_none align_items_center justify_content_center"
             style="background: #f42c2c"
          ></div>
        </div>
      </div>
      <div class="add_task_due_date position_relative margin_x_10 ">
        <label class="add_task_due_date_input display_flex justify_content_center border_width_1 border_style_dashed border_color_white border_radius_50_percent width_30 height_30
          align_items_center cursor_pointer">
          <i class="far fa-calendar-alt"></i>
        </label>
        <input class="due_date top_0 width_150 height_30 position_absolute" style="right: 0px; opacity: 0;" type="date"/>
        <div class="add_task_due_date_value display_none"></div>
      </div>
      <div class="add_task_estimate  cursor_pointer margin_x_10 ">
        <div class="add_task_estimate_icon display_flex justify_content_center border_width_1 border_style_dashed border_color_white border_radius_50_percent width_30 height_30 align_items_center cursor_pointer">
          <i class="far fa-hourglass"></i>
        </div>
        <div class="add_task_estimate_value display_none">
        </div>
      </div>
      <div class="margin_x_10">
        <button class="add_task_btn padding_x_20 padding_y_5 display_flex align_items_center justify_content_center border_none bg_highlight color_whte border_radius_3
          text_transform_uppercase font_weight_600">
          Save
        </button>
      </div>
      <div class="add_task_cancel margin_left_10 width_30 height_30 display_flex align_items_center justify_content_center cursor_pointer">
        <i class="fal fa-times font_size_20"></i>
      </div>
    </div>
  </form>
</div>
