<div class="navbar_content">
  <div
    class="header height_50 width_100_percent border_width_1 border_style_solid border_color_primary bg_primary display_flex align_items_center padding_x_15"
  >
    <!-- space name -->
    <div class="space_name display_flex align_items_center">
      <div
        class="icon_active width_30 height_30 bg_btn_color display_flex align_items_center justify_content_center border_radius_5"
      >
        <i class="fas fa-folder"></i>
      </div>
      <div class="margin_left_10">
        <h3 class="name_active margin_y_0 text_transform_capitalize">Sprint Folder</h3>
        <span class="number_list_active font_size_12 opacity_0_5">6 Lists</span>
      </div>
    </div>
    <!-- tab view -->
    <div class="tab_view margin_left_20 display_flex">
      <div
        class="list display_flex align_items_center padding_x_15 padding_y_5 border_width_0 border_left_width_1 border_style_solid border_color_primary color_red"
      >
        <i class="fas fa-th-list"></i>
        <span class="margin_left_10 font_weight_700">List</span>
      </div>
      <div
        class="list display_flex align_items_center padding_x_15 padding_y_5 border_width_0 border_left_width_1 border_style_solid border_color_primary"
      >
        <i class="fas fa-columns"></i>
        <span class="margin_left_10 font_weight_700">Board</span>
      </div>
    </div>
  </div>
  <div
    class="filter height_35 bg_primary border_width_1 border_style_solid border_color_primary border_top_width_0 display_flex align_items_center justify_content_sb padding_right_15"
  >
    <div class="filter_input position_relative padding_x_10 display_flex align_items_center">
      <input
        class="padding_right_20 padding_left_35 padding_y_8 bg_primary border_none width_300 border_radius_5 color_white"
        placeholder="Filter by task name..."
      />
      <i class="fa fa-search position_absolute left_20 top_9"></i>
    </div>
    <div
      class="filter_by display_flex border_left_width_1 border_width_0 border_style_solid border_color_primary padding_left_10"
    >
      <div
        class="display_flex align_items_center padding_x_10 padding_y_5 border_radius_5 cursor_pointer font_size_12"
      >
        <i class="far fa-filter font_size_10"></i>
        <div class="margin_left_10">
          <span class="text_transform_capitalize">Filter</span>
        </div>
      </div>
      <div
        class="margin_left_20 display_flex align_items_center bg_red color_red padding_x_10 padding_y_5 border_radius_5 cursor_pointer font_size_12"
      >
        <i class="far fa-layer-group font_size_10"></i>
        <div class="margin_left_10">
          <span>Group by: </span>
          <span class="text_transform_capitalize">Status</span>
        </div>
      </div>
      <div
        class="margin_left_20 display_flex align_items_center padding_x_10 padding_y_5 border_radius_5 cursor_pointer font_size_12"
      >
        <i class="far fa-user font_size_10"></i>
        <div class="margin_left_8">
          <span class="text_transform_capitalize">Me</span>
        </div>
      </div>
      <div
        class="margin_left_10 display_flex align_items_center padding_x_10 padding_y_5 border_radius_5 cursor_pointer font_size_12"
      >
        <i class="far fa-users font_size_10"></i>
        <div class="margin_left_8">
          <span class="text_transform_capitalize">Everyone</span>
        </div>
      </div>
    </div>
  </div>
</div>
