<div class="space_options display_none position_fixed top_0 left_0 width_100_vw height_100_vh z_index_1">
  <div class="bg_close_space_options position_absolute top_0 left_0 width_100_percent height_100_percent z_index_1"></div>
  <div class="space_options_content position_absolute bg_primary box_shadow_options padding_y_10 border_radius_5 z_index_2" style="left: calc(100% + 10px);top: 0px">
    <div class="title padding_x_15">
      <span class="text_transform_uppercase opacity_0_5 font_size_12">Space options</span>
    </div>
    <div class="margin_top_10">
      <div class="space_options_item create_new_folder display_flex padding_x_15 bg_primary_hover-hover padding_y_10 align_items_center cursor_pointer no_select">
        <div class="width_15">
          <i class="far fa-folder"></i>
        </div>
        <span class="margin_left_10">New Folder</span>
      </div>
      <div class="space_options_item display_flex padding_x_15 bg_primary_hover-hover padding_y_10 align_items_center cursor_pointer no_select">
        <div class="width_15">
          <i class="far fa-list"></i>
        </div>
        <span class="margin_left_10">New List</span>
      </div>
    </div>
  </div>
</div>
