<div class="sprint_item display_flex justify_content_sb font_size_12 padding_y_7 padding_left_35 cursor_pointer display_none" data-id="">
  <div>
    <i class="fas fa-repeat-alt margin_right_5"></i>
    <span class="sprint_item_name">
    </span>
  </div>
  <div class="task_number">
    <span class="sprint_item_task_number">7</span>
  </div>
</div>
