<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notifications</title>
    <link rel="stylesheet" href="public/styles/atomics-css/atomics-style.css" />
    <link rel="stylesheet" href="public/styles/font-awesome/css/all.css" />
    <style>
      
    </style>
  </head>
  <body>
    <div class="row display_flex">
      <div class="side_bar width_300 bg_primary min_height_100_vh max_height_100_vh padding_y_20 display_flex flex_direction_col justify_content_sb">

      </div>

      <div class="content flex_1 bg_whitesmoke min_height_100_vh max_height_100_vh">
        <div class="header height_50 width_100_percent border_width_1 border_style_solid border_color_primary bg_primary display_flex align_items_center padding_x_15">
          
          <div class="space_name display_flex align_items_center">
            <div class="margin_left_10">
              <h3 class="margin_y_0 text_transform_capitalize font_size_20">Notifications</h3>
            </div>
          </div>
          
          <div class="tab_view margin_left_20 display_flex">
            <div class="list display_flex align_items_center padding_x_15 padding_y_5 border_width_0 border_left_width_1 border_style_solid border_color_primary color_red">
              <span class="margin_left_10 font_weight_700">New</span>
            </div>

            <div class="list display_flex align_items_center padding_x_15 padding_y_5 border_width_0 border_left_width_1 border_style_solid border_color_primary">
              
              <span class="margin_left_10 font_weight_700">Cleared</span>
            </div>
            
          </div>
          <div class="header display_flex align_items_center margin_right_3" style="margin-left: auto;">
            <div class="height_100_percent margin_x_15 display_flex align_items_center">
              <div class="font_size_12 padding_x_10 padding_y_6 margin_0 border_radius_10 font_size_12" style="background-color: red;">All</div>
              <div class="font_size_12 margin_left_5 padding_x_10 padding_y_6 margin_0 border_radius_10 " >Assigned to me</div>
              <div class="font_size_12 margin_left_5 padding_x_10 padding_y_6 margin_0 border_radius_10 " >@mentions</div>
              <div class="margin_left_10 padding_x_10 padding_y_6 margin_0 border_radius_10 font_size_16" >
                <i class="fas fa-ellipsis-h"></i>       
              </div>
            </div>

          </div>
        </div>

        <div class="notification overflow_x_hidden overflow_y_auto" style="height: calc(100vh - 50px);">
          <div class="notification-inner padding_top_10 height_100_percent width_100_percent padding_x_20 padding_y_65">
            <div class="notification-body padding_bottom_60 position_relative">
              <div class="notifications position_relative margin_y_20 border_radius_6" style="box-shadow: 0 0 11px 0 rgb(0 0 0 / 15%); background-color: #384047;">
              
              </div>
            </div>
            <div class="notification-seen text_align_center margin_top_50px" style="vertical-align: baseline;">
              "You've seen it all."
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
