<!-- task  -->
<div class="task_item padding_y_5 padding_x_15 display_flex align_items_center justify_content_sb display_none bg_lighter_primary_color-hover" data-id="">
  <div class="display_flex align_items_center flex_1">
    <div
      class="task_item_status width_10 height_10 border_radius_3 margin_right_20 cursor_pointer"
      style="background-color: rgb(211, 211, 211)"
    ></div>
    <div class="task_item_title cursor_pointer flex_1" style="line-height: 30px;">tạo bảng subtitle để lưu audio + thời gian phát của audio, viết api</div>
  </div>
  <div class="display_flex align_items_center">
    <div class="display_flex justify_content_center" style="min-width: 100px">
      <div class="task_item_assign cursor_pointer position_relative z_index_2 display_flex">
        <div
          class="task_item_assign_value display_none cursor_pointer border_radius_50_percent width_30 height_30 bg_highlight display_flex align_items_center justify_content_center"
        >
          C
        </div>
        <div class="task_item_assign_icon cursor_pointer border_radius_50_percent width_30 height_30 display_flex align_items_center justify_content_center
            border_width_1 border_style_dashed border_color_white position_relative z_index_1">
          <i class="icon_add_assigner far fa-user-plus"></i>
        </div>
      </div>
    </div>
    <div class="width_100 display_flex justify_content_center position_relative">
      <label class="task_item_due_date_input display_flex justify_content_center border_width_1 border_style_dashed border_color_white border_radius_50_percent width_30 height_30
        align_items_center cursor_pointer display_none">
        <i class="far fa-calendar-alt"></i>
      </label>
      <input class="due_date_input width_150 height_30 position_absolute z_index_1" style="right: 33px; opacity: 0; top: -10px" type="date"/>
      <span class="task_item_duedate font_size_12 opacity_0_7">Today</span>
    </div>
    <div class="width_100 display_flex justify_content_center opacity_0_7 font_size_12">
      <div class="task_item_estimate">
        <div class="task_item_estimate_icon display_flex justify_content_center border_width_1 border_style_dashed border_color_white border_radius_50_percent width_30 height_30 align_items_center cursor_pointer display_none">
            <i class="far fa-hourglass"></i>
        </div>
        <div class="task_item_estimate_value">
          <span class="task_item_estimate_value_content">1</span>
          <span class="">h</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- task  -->
